@import url('../Assets/Globle/style.css');

/*
          Custom
((()))***********************((()))
*/

.app {
  /* position: relative; */
  height: 100vh;
}

.header {
  width: 100%;
  height: 90px;
  background-color: var(--color-yellow-green-low);
  border-bottom: 1px solid var(--color-line-gray);
  box-shadow: 0px 0px 20px var(--color-shadow-white-smoke);
  position: fixed;
  top: 0;
}
.header_left {
  width: 100%;
}
.header_right {
  /* width: 30%;
  height: 100%; */
  /* background-color: red; */
}
.header_up {
  height: 80px;
  width: 100%;
  position: relative;
  /* background-color: burlywood; */
}
.header_down {
  width: 100%;
  height: 40px;
  /* background-color: yellow; */
}

.profile_l1 {
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: right;
}
.profile_l2 {
  width: 60px;
  height: 60px;
  /* background-color: blue; */
  border-radius: 50%;
  border: 1px solid var(--color-blue-dark);
  margin-top: 15px;
  margin-left: 20px;
}

.search_info {
  margin-top: 25px;
  margin-left: 10px;
  width: 67%;
  /* display: flex;
  align-items: center; */
  /* background-color: rebeccapurple; */
}
.inp_search_info {
  border: 1px solid var(--color-blue-dark);
}

.btn_search_l1 {
  margin-top: 30px;
  margin-left: 10px;
  position: absolute;
  right: 20px;
  /* background-color: red; */
}
.btn_search{
    /* background-color: var(--color-blue-light); */
    /* color: rgb(255, 255, 255); */
    height: 40.3px;
    transform: translateX(-46px);
    border-radius: 0px 20px 20px 0px;
}

.header_right_l2 {
  width: 90%;
  height: 97px;
  border: 2px solid var(--color-blue-border);
  margin: 16px 5%;
  padding: 12px;
}
.header_right_up {
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: space-between;
}
.header_right_down {
  /* background-color: yellow; */
}
.btn_contact {
  width: 56.5%;
}
.btn_contact>a{
  text-decoration: none;
}
.new_event {
  margin-top: 10px;
}


/* Fram  */
.component{
  margin-top: 90px;
  height: calc(100vh - 120px) !important;
  width: 100%;
}


 
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){ 

}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .search_info{
    width: 55%;
  }
}